*{
  text-decoration: none !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  scroll-behavior: smooth;
  font-family: 'Oswald', sans-serif;
}




::-webkit-scrollbar {
  width: 4px;
}


::-webkit-scrollbar-thumb {
background: grey;
  border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
  animation: scrollbar-animation 1s infinite alternate;
}


